*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  width: 100%;
  /*display: block;*/
}

/*<!-- Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 -->*/

body {
  background-color: #F2F1E8;
  flex:100%;
  font-family: "lora";
  color: #131511;
}
section {
  padding: 3.5em;
}
footer {
  background-color: #131511;
  color: #F2F1E8;
  padding: 20px;
  font-size: 9px;
}
.nav {
  background: #FFFFFF;
  font-family: sans-serif;
  color: #2B2F26;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;


}
.nav-links {
  list-style-type: NONE;
  padding: 0px;
  display: flex;
  width: 92%;
  justify-content: center;
  text-align: center;

}
.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

a {
    text-decoration:none;
    text-transform: uppercase;
}

a:hover {
    color: #CD5D67;
}

a:visited {
    color: #968772;
}
.nav-logo {
  width: 5%;
  padding: 10px;
}

h1 {
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  font-size: 35px;
  font-weight: lighter;
  margin-bottom: 30px;
  text-align: center;
}
h3 {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-top: 30px;

}
h5 {
  margin-top:75px;
  font-size:60px;
  font-weight: lighter;
  margin-bottom: 30px;
  text-align: center;
}
p {
  line-height: 1.5;
}
blockquote {
  border-left: 1px solid #131511;
  padding-left:20px;
  margin-top: 15px;
  margin-bottom: 15px;
 }
.collage {
  flex: 100%;
justify-content: space-around;}
.collage-row1{
  display: flex;
  justify-content: space-between;
  height: 18.25em;
  margin-bottom: 1.5%;

}
.collage-row2{
  display: flex;
  justify-content: space-between;
  height: 12.25em;
}

.collage-txt {
  color: #F2F1E8;
  float: left;
  background-color: #131511;
  /*transform: translate(0%, -150%);*/
  font-size: 12px;
  padding: .75em;
  position: absolute;
  bottom: .5em;
}


#product-1 {
    background-image: url("images/product-1.jpg");
    background-size: cover;
    width:59%;
    position:relative;

}
#product-2 {
    background-image: url("images/product-2.jpg");
    width: 19%;
    position:relative;
    background-size: cover;


  }
  #product-3 {
    background-image: url("images/product-3.jpg");
    width: 19%;
    position:relative;
    background-size: cover;


  }
  #product-4 {
    background-image: url("images/product-4.jpg");
    width: 19%;
    position:relative;
    background-size: cover;

  }
  #product-5 {
    background-image: url("images/product-5.jpg");
    width: 19%;
    position:relative;
    background-size: cover;

  }
  #product-6 {
    background-image: url("images/product-6.jpg");
    width: 38%;
    position:relative;
    background-size: cover;


  }
  #product-7 {
    background-image: url("images/product-7.jpg");
    width: 19%;
    position:relative;
    background-size: cover;

  }
/*/////////about//////*/
.small_img{
  background: url("images/birdhouse.jpg");
  background-size: cover;
  border-style: none;
  margin-bottom: 25px;
  height: 100px;
  background-position: center;
  width: 60%;
}
.intro p {
  padding-left: 30px;
}
table {
    border-collapse: collapse;
    width: 97%;
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}

td {
  text-align: left;
  padding: 8px;
}
th {
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
    background-color: #FEF9EC;
}
.aside_img {
  background: url("images/background-1.jpg");
  height: 100px;
  background-size: cover;
  margin-right: 25px;
  margin-bottom: 25px;
}
aside {
  margin-top: 93px;
  margin-left: 10px;
}
.divider{
  background: url("images/background-3.jpg");
  background-size: cover;
  height: 250px;
  width: 100%;
  position: relative;
  margin-top: 30px;
  background-position: center;
}
.divider h3{
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}

.about {
  padding-left: 0px;
  padding-right: 0px;
}
.top_section{
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
.intro{
  display: flex;
}
.bottom_section {
  padding: 10px;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;

}
/*//////////////////newsletter styles/////////////////////////////*/
.signup-box{
  background: white;
  padding: 20px;
  width:40vw;
  margin-left: auto;
  margin-right: auto;
}
.signup-box h3,
.signup-box h4 {
  text-align: center;
}
.background {
  background-image: url("images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 120px;
}
.inputs {
  border-bottom: 2px solid grey;
  padding-top: 30px;
}
#signupButton {
padding: 15px 30px;
color: white;
background: #968772;
text-align: center;
display: block;
 margin: 20px auto 8px auto;
;}
